.clicked{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.green{
    background-color: rgb(28, 28, 160);
    border: 2px;
    margin: 0px;
    padding: 0px;
}

table{
    table-layout: auto;
}

td{
  width: 60px;
  height: 60px;
}